<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">eClipper</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#teamMembers">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Check at your location">At your location?</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</button>
  </div>
</nav>
</div>
