
<div id="services">
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/caltrain.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Caltrain</h5>
      <p class="card-text">Caltrain provides commuter rail service along the San Francisco Peninsula, through the South Bay to San Jose and Gilroy.The San Francisco and San Jose Railroad Company began passenger rail service on the Peninsula in 1863. The system we know today as Caltrain had its start in 1992, when the Peninsula Corridor Joint Powers Board (PDF Agreement, 1.42MB) took over the operation of the train.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/img/bart.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bart</h5>
      <p class="card-text">Bay Area Rapid Transit (BART) is a rapid transit public transportation system serving the San Francisco Bay Area in California. The heavy rail elevated and subway system connects San Francisco and Oakland with urban and suburban areas in Alameda, Contra Costa, and San Mateo counties</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/img/vta.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">VTA</h5>
      <p class="card-text">Santa Clara Valley Transportation Authority (VTA) is an independent special district that provides sustainable, accessible, community-focused transportation options that are innovative, environmentally responsible, and promote the vitality of our region.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/img/ford.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">FordBike</h5>
      <p class="card-text">Ford GoBike is the Bay Area's new bike share system, with thousands of public bikes for use across San Francisco, East Bay and San Jose. Our bike share is designed with convenience in mind; it’s a fun and affordable way to get around town.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>