<div class="contact">
  <div class="col-lg-12" style="display: table;">

    <div class="col-md-4">

<div class="card card-default">
  <div class="card-body card-6-6">
    <div class="card-left">
      <img src="images/konman01.jpg" class="img-responsive">
    </div>
    <div class="card-right">
      <h4>Manjunatha K G</h4>
      <p>Graduate student from San Jose State University pursuing Masters from computer Engineering</p>
    </div>
  </div>
  <div class="card-body">
    <p>Graduate student from San Jose State University pursuing Masters from computer Engineering, doing specialization in
    networking, intrested in Cloud Technologies, Web Application development and Programming</p>
  </div>
  <div class="card-footer">manjunatha.konigururaja@sjsu.edu</div>
</div>

</div>
<div class="col-md-4">

<div class="card card-default">
<div class="card-body card-6-6">
<div class="card-left">
  <img src="" class="img-responsive">
</div>
<div class="card-right">
<h4>Saliha</h4>
   <p>Graduate student from San Jose State University pursuing Masters from computer Engineering</p>
</div>
</div>
<div class="card-body">
<p>Graduate student from San Jose State University pursuing Masters from computer Engineering, doing specialization in
ML, intrested in Cloud Technologies, Web Application development and Programming.</p>
</div>
<div class="card-footer">Footer</div>
</div>

</div>
</div>
<div class="col-lg-12" style="display: table;">

  <div class="col-md-4">

<div class="card card-default">
<div class="card-body card-6-6">
  <div class="card-left">
    <img src="images/prathamr.jpg" class="img-responsive">
  </div>
  <div class="card-right">
    <h4>Prathamesh</h4>
    <p>Graduate Student from San Jose State University pursuing Masters in Software Engineering</p>
  </div>
</div>
<div class="card-body">
  <p>Interested in Distributed Systems, Cloud Technologies and Mobile Apps</p>
</div>
<div class="card-footer">Footer</div>
</div>

</div>
<div class="col-md-4">

<div class="card card-default">
<div class="card-body card-6-6">
<div class="card-left">
<img src="" class="img-responsive">
</div>
<div class="card-right">
<h4><Greeshma/h4>
<p>Graduate student from San Jose State University pursuing Masters from Software Engineering</p>
</div>
</div>
<div class="card-body">
<p>Graduate student from San Jose State University pursuing Masters from Software Engineering, doing specialization in
ML, intrested in Cloud Technologies, Web Application development and Programming..</p>
</div>
<div class="card-footer">Footer</div>
</div>

</div>
</div>
</div>
