<!-- Add your site or application content here -->
<div class="header" ng-controller="HeaderCtrl as header">
  <div class="navbar-default" role="navigation">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Eclipper</a>
      </div>
      <div>
      <button type="button" class="btn btn-primary logout" style="float:right;margin-top:6px" ng-click="header.logout()" ng-if="header.showLogout">Logout</button>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ui-sref-active-eq='active'><a ui-sref="home">Home</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="services">Services</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="login" ng-if="!header.showLogout">Login/Register</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="team">Team</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="menu">At Your Location?</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="payment">Payment</a></li>
          <li ui-sref-active-eq='active'><a ui-sref="transactions">History</a></li>
          <li ><a ui-sref="transactions"  class="showLogout" ng-click="header.logout()" ng-if="header.showLogout">Logout</a></li>
        </ul>
    </div>
  </div>
</div>
