<div class="col-lg-12 payment" ng-controller="paymentCtrl as pctrl">
  <div class="panel panel-primary custom-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Wallet</h3>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="thumbnail">
          <div class="col-lg-12 balance">
            <p style="font-size: 20px;font-weight: bold;"> Current Balance:</p>
            <h3 class="text-align-center">US$<span style="padding-left:5px">{{pctrl.payment.balance}}</span></h3>
          </div>
          <div class="col-lg-12 text-align-center">
            <button type="button" class="btn btn-primary btn-lg" ng-click="pctrl.addFunds()">ADD FUNDS</button>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <h3>Payment Methods</h3>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in pctrl.payment.paymentMethods">
            <span>{{item.type}}</span>
            <span style="float:right">{{item.maskCard}}</span></li>
          </ul>
          <a ng-click="pctrl.addMethods()">Add Payment Method</a>
        </div>
      </div>
    </div>
  </div>
  <!--- ADD FUNDS --->
  <script type="text/ng-template" id="addFunds.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Add Funds</h3>
      <p style="color:red" class="text-align-center" ng-show="afModal.error">Amount should be greater than 0.</p>
    </div>
    <div class="modal-body">
      <div class='form-row' ng-if="afModal.payment.paymentMethods.length==0">
        <div class='col-xs-12'>
          <div class="radio" ng-repeat="item in afModal.types">
            <label><input type="radio"  ng-model="afModal.checkedId" value="{{item.id}}">{{item.name}}</label>
          </div>
        </div>
      </div>
      <div class='form-row' ng-if="afModal.payment.paymentMethods.length>0">
        <div class='col-xs-12' ng-repeat="item in afModal.payment.paymentMethods">
          <div class="radio col-xs-6" >
            <label><input type="radio"  ng-model="afModal.checkedId" value="{{item.pid}}">{{item.type}}</label>
          </div>
          <div class='col-xs-6' style="margin-top: 10px;">
            {{item.maskCard}}
            </div>
        </div>

      </div>
      <div class='form-row' ng-if="afModal.payment.paymentMethods.length==0">
        <div class='col-xs-12 form-group required'>
          <label class='control-label'>Name on Card</label>
          <input class='form-control' size='4' type='text' ng-model="afModal.paymentMethod.name" >
        </div>
      </div>
      <div class='form-row' ng-if="afModal.payment.paymentMethods.length==0">
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Card Number</label>
          <input ui-mask="9999 9999 9999 9999" class='form-control' size='20' type='text' ng-model="afModal.paymentMethod.cardNumber">
        </div>
      </div>
      <div class='form-row' ng-if="afModal.payment.paymentMethods.length==0">
        <div class='col-xs-4 form-group cvc required'>
          <label class='control-label'>CVV</label>
          <input ui-mask="999" class='form-control' placeholder='cvv' size='4' type='text' ng-model="afModal.paymentMethod.cvv">
        </div>
        <div class='col-xs-4 form-group expiration required' ng-if="afModal.payment.paymentMethods.length==0">
          <label class='control-label'>Expiration</label>
          <input class='form-control'  ui-mask="99" placeholder='MM' size='2' type='text' ng-model="afModal.paymentMethod.month">
        </div>
        <div class='col-xs-4 form-group expiration required' ng-if="afModal.payment.paymentMethods.length==0">
          <label class='control-label'> </label>
          <input class='form-control' ui-mask="9999" placeholder='YYYY' size='4' type='text' ng-model="afModal.paymentMethod.year">
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Amount</label>
          <input autocomplete='off' class='form-control amount' ng-model="afModal.payment.funds" size='20' type='text'>
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary"  ng-click="afModal.ok()">
        <button class="btn btn-warning" type="button" ng-click="afModal.cancel()">Cancel</button>
      </div>
    </script>
<!---- PAYMENT METHODS --->
    <script type="text/ng-template" id="paymentMethods.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Payment Methods</h3>
      </div>
      <div class="modal-body">
        <p style="color:red" class="text-align-center" ng-show="amModal.error">Please fill all fields.</p>
        <div class='form-row'>
          <div class='col-xs-12'>
            <div class="radio" ng-repeat="item in amModal.types">
              <label><input type="radio"  ng-model="amModal.checkedType" value="{{item.id}}">{{item.name}}</label>
            </div>
          </div>
        </div>
        <div class='form-row'>
          <div class='col-xs-12 form-group required'>
            <label class='control-label'>Name on Card</label>
            <input class="form-control" size='4' type='text' ng-model="amModal.paymentMethod.name" required="true">
          </div>
        </div>
        <div class='form-row'>
          <div class='col-xs-12 form-group card required'>
            <label class='control-label'>Card Number</label>
            <input ui-mask="9999 9999 9999 9999" class='form-control card-number' size='20' type='text' ng-model="amModal.paymentMethod.cardNumber" required="true">
          </div>
        </div>
        <div class='form-row'>
          <div class='col-xs-4 form-group cvc required'>
            <label class='control-label'>CVC</label>
            <input ui-mask="999" class='form-control card-cvc' placeholder='cvv' size='4' type='text' ng-model="amModal.paymentMethod.cvv" required>
          </div>
          <div class='col-xs-4 form-group expiration required'>
            <label class='control-label'>Expiration</label>
            <input ui-mask="99" class='form-control card-expiry-month' placeholder='MM' size='2' type='text' ng-model="amModal.paymentMethod.month">
          </div>
          <div class='col-xs-4 form-group expiration required'>
            <label class='control-label'> </label>
            <input ui-mask="9999" class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' ng-model="amModal.paymentMethod.year">
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary"  ng-click="amModal.ok()">
          <button class="btn btn-warning" type="button" ng-click="amModal.cancel()">Cancel</button>
        </div>
      </script>
