<!--<div class="menu" ng-controller="ServiceMenuCtrl as menu">
<div class="columns"  ng-repeat="item in menu.menu">
  <ul class="price">
    <li class="header" style="background-color:#346da3">{{item.name}}</li>
    <li class="grey">{{item.price}}</li>
    <li>Location: {{item.location}}</li>
    <li class="grey"><a href="" class="button">Order</a></li>
  </ul>
</div>


<div>-->
<div class="menu" ng-controller="ServiceMenuCtrl as menu">
<br>

   <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-4 col-xs-offset-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter your zipcode here" id="txtSearch" ng-model="menu.text"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" ng-click="menu.find(menu.text)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

<br>
<div>
<div class="columns"  ng-repeat="item in menu.menu">
  <ul class="price">
    <li class="header" style="background-color:#346da3">{{item.servicetype}}</li>
    <li class="grey">{{item.cost}}</li>
    <li>Location: {{item.location}}</li>
    <li class="grey"><a href="" class="button" ng-click="menu.placeOrder(item)">Order</a></li>
  </ul>
</div>


<div>
</div>
</div>
</div>
